<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OAuth Tutorials</title>
        <style>
            body{
                font-family: arial;
                margin: 0;
            }
            nav{
                background: #4B8BE3;
                padding: 20px 10px;
            }
            nav ul{
                max-width: 960px;
                margin: 0 auto;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            nav a{
                color: #fff;
                font-size: 18px;
                background: rgba(255,255,255,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            main, header{
                max-width: 960px;
                margin: 30px auto;
                padding: 0 10px;
                color: #333;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <% if (user) { %>
                <li><a href="/auth/logout">Log out</a></li>
                <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <% } %>
                <li><a href="/">Homepage</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/statistics">Statistics</a></li>
                <li><a href="/tasks">Manage Tasks</a></li>
            </ul>
        </nav>
        <header>
            <h1>Homepage</h1>
        </header>
        <main>
            <div class="col-lg-10">
            <h2><u> Users status</u></h2>
                <section>
                <h3>Get All Users Scores</h3>
                <p>Method: GET<br>
                Request URL: <a href="./getAllScores" target="_blank">
                            https://hometaskss.herokuapp.com/getAllScores </a><br>
                Response: JSON sorted by weekly points.</p>
            </section>
            <br>
            <section>
                <h3>More Things To Do</h3>
                <p>Method: GET<br>
                Request URL: <a href="./getAllAvailableTasks" target="_blank">
                        https://hometaskss.herokuapp.com/getAllAvailableTasks </a><br>
                            Response: JSON of All available Tasks.</p>
            </section>
                <br>
                <section>
                <h3>Take A Task</h3>
                <p>Method: PUT<br>
                Request URL: <a href="./takeATask" target="_blank">
                        https://hometaskss.herokuapp.com/takeATask </a><br>
                            Response: JSON of user details.</p>
            </section>
            <br>
            <section>
                <h3>Close A Task</h3>
                <p>Method: PUT<br>
                Request URL: <a href="./closeATask" target="_blank">
                        https://hometaskss.herokuapp.com/closeATask </a><br>
                            Response: JSON of user details.</p>
            </section>
                </div>
        </main>
    </body>
</html>
