<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Homepage</title>
        <style>
            body{
                font-family: arial;
                margin: 0;
            }
            nav{
                background: #4B8BE3;
                padding: 20px 10px;
            }
            nav ul{
                max-width: 960px;
                margin: 0 auto;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            nav a{
                color: #fff;
                font-size: 18px;
                background: rgba(255,255,255,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            main, header{
                max-width: 960px;
                margin: 30px auto;
                padding: 0 10px;
                color: #333;
            }
            main img{
                width: 40px;
                margin-right: 10px;
                position: relative;
                top: 12px;
            }
            main p{
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <% if (user) { %>
                <li><a href="/auth/logout">Log out</a></li>
                <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <% } %>
                <li><a href="/">Homepage</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/statistics">Statistics</a></li>
                <li><a href="/tasks">Manage Tasks</a></li>

            </ul>
        </nav>
        <header>
            <h1>Profile</h1>
        </header>
        <main>
            <div class="col-lg-10">
            <h2><u> User Information</u></h2>
                <section>
                <h3>Profile</h3>
                <p>Method: GET<br>
                Request URL: <a href="./getUserProfileSummary" target="_blank">
                            https://hometaskss.herokuapp.com/getUserProfileSummary </a><br>
                Response: JSON of summary of user details.</p>
            </section>
            <br>
            <section>
                <h3>Completed Tasks</h3>
                <p>Method: GET<br>
                Request URL: <a href="./getUserCompletedTasks" target="_blank">
                        https://hometaskss.herokuapp.com/getUserCompletedTasks </a><br>
                            Response: JSON of All Tasks done so far by the user.</p>
            </section>
                <br>
                <section>
                    <h3>Saved Tasks</h3>
                    <p>Method: GET<br>
                        Request URL: <a href="./getUserSavedTasks" target="_blank">
                            https://hometaskss.herokuapp.com/getUserSavedTasks </a><br>
                        Response: JSON of user's Saved Tasks.</p>
                </section>
                <br>
                <section>
                    <h3>Achievments</h3>
                    <p>Method: GET<br>
                        Request URL: <a href="./getUserAchievments" target="_blank">
                            https://hometaskss.herokuapp.com/getUserAchievments </a><br>
                        Response: JSON of user's Achievments.</p>
                </section>
                </div>
        </main>
    </body>
</html>
