<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
  <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://cdnjs.cloudflare.com ">
        <link rel="stylesheet" type="text/css" href="">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <title>Homepage</title>
        <style>
            body{
                font-family: arial;
                margin: 0;
            }
            nav{
                background: #4B8BE3;
                padding: 20px 10px;
            }
            nav ul{
                max-width: 960px;
                margin: 0 auto;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            nav a{
                color: #fff;
                font-size: 18px;
                background: rgba(255,255,255,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            main, header{
                max-width: 960px;
                margin: 30px auto;
                padding: 0 10px;
                color: #333;
            }
            main img{
                width: 40px;
                margin-right: 10px;
                position: relative;
                top: 12px;
            }
            main p{
                display: inline-block;
            }

            h3{
                margin-bottom: -10px;
            }
        </style>
    </head>
    <body>
    <nav>
        <ul>
            <% if (user) { %>
            <li><a href="/auth/logout">Log out</a></li>
            <% } else { %>
            <li><a href="/auth/login">Login</a></li>
            <% } %>
            <li><a href="/">Homepage</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/statistics">Statistics</a></li>
            <li><a href="/tasks">Manage Tasks</a></li>

        </ul>
    </nav>
        <header>
            <h1>Statistics</h1>
        </header>
        <main>
            <div class="col-lg-10">
            <h2><u> Weekly Scores</u></h2>
                <section>
                <h3>Most Points This week</h3>
                <p>Method: GET<br>
                Request URL: <a href="./getAllScores" target="_blank">
                            https://hometaskss.herokuapp.com/mostPointsThisWeek </a><br>
                Response: JSON of All users points sorted by weekly scores.</p>
            </section>
            <br>
            <section>
                <h3>Most Taken Tasks So Far </h3>
                <p>Method: GET<br>
                Request URL: <a href="./mostTasksDoneSoFar" target="_blank">
                        https://hometaskss.herokuapp.com/mostTasksDoneSoFar </a><br>
                            Response: JSON of Most Tasks done so far(by amount of tasks).</p>
            </section>
               <!--  <br>
                <section>
                    <h3>Most Taken Tasks Per Day </h3>
                    <p>Method: GET<br>
                        Request URL: <a href="./TasksPerDay" target="_blank">
                            https://hometasks.herokuapp.com/TasksPerDay </a><br>
                        Response: JSON of Most Tasks done so far.</p>
                </section> -->
                <br>
                <section>
                    <h3>The Medalist </h3>
                    <p>Method: GET<br>
                        Request URL: <a href="./getMedalist" target="_blank">
                            https://hometaskss.herokuapp.com/getMedalist </a><br>
                        Response: JSON of All users achievments.</p>
                </section>
                </div>
        </main>
    </body>
</html>
